/* Your SCSS here. */
html, body {
margin: 0;
padding: 0;
scroll-behavior: smooth;
}
.home {
background-color:white;
}

/*Document sections*/
.top {
padding:10px;
background-color:rgb(95, 228, 219);
color:white;
font-size:20px;
padding-bottom:10%;
margin-top:80px;
scroll-margin-top: 80px; 
}
.projects {
padding:20px;
background-color:gray;
color:white;
font-size:20px;
padding-bottom:10%;
margin-top:40px;
scroll-margin-top: 80px; 
}
.contact {
padding:20px;
background-color:rgb(99, 97, 97);
color:white;
font-size:20px;
padding-bottom:10%;
margin-top:40px;
scroll-margin-top: 80px; 
}
.footer {
height: 150px;
}

/*Navbar CSS*/
.navbar {
overflow: hidden;
display:flex;
background-color: #5d5d5d;
position: fixed;
z-index: 10;
justify-content: space-between;
top: 0;
height:80px;
width: 100%;
transition: 0.4s;
}
/*Navbar is split into halves to create left and right sides*/
.leftnav {
display: flex;
align-items: center;
gap: 12px;
}
.rightnav {
display: flex;
align-items: center;
justify-content: right;
gap: 12px;
}
.navbar a.name {
margin-left:30px;
display: flex;
align-items: center;
justify-content: center;
color: #f2f2f2;
text-align: middle;
font-size:35px;
}
.navbar a.buttons {
align-items: center;
vertical-align: middle;
justify-content: right;
display: flex;
color: #f2f2f2;
text-align: middle;
padding: 15px;
margin-right:15px;
font-size:30px;
text-decoration: none;
border-radius:5px;
}

/*Navbar item CSS for JS editing*/
.navbar a.buttons:hover {
background: #ddd;
color: black;
border-radius:5px;
}
.navbar a.buttons.active {
background: #0b0b0b;
color: white;
}

/* Slideshow CSS */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
    width: 100%;

}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}
